{% extends 'base.html' %}

<title>{% block title %}Time Display{% endblock %}</title>

{% block content %}
<div class="d-flex justify-content-evenly">
    <div class="col-6">
        <div class="card my-3">
            <div class="card-header text-center">
                <h5 class="card-title">The current time and date (HTML)</h5>
            </div>
            <div class="card-body text-center">
                <h3 class="text-card fs-3" >{{ timelocal }}</h3>                       
            </div>            
        </div>
        <br>
        <div class="card">
            <div class="card-header text-center">
                <h5 class="card-title">The current time and date (JS)</h5>
            </div>
            <div class="card-body text-center">
                <h3 class="text-card fs-3" id="reloj"></h3>                       
            </div>            
        </div>
    </div>
</div>



{% endblock %}